.edit-note {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.edit-note form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 550px;
    padding: 20px 40px;
    margin: 30px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.edit-note mat-form-field {
    width: 75%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

.edit-note input:focus,
.edit-note textarea:focus {
    outline: none;
    border-bottom: 2px solid #444fbd;
}

.edit-note .form-group {
    margin-bottom: 20px;
}

.edit-note button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #a6a6a6;
    margin-right: 10px;
}

.edit-note button[type="submit"]:hover {
    background-color: #3a42a8;
    color: white;
}

.edit-note button[type="submit"] mat-icon {
    font-size: 24px;
}

.edit-note .form-group.mat-radio-group {
    display: flex;
    flex-wrap: wrap;
}

.edit-note mat-radio-button {
    margin-right: 10px;
}

.GoToNotes {
    float: right;
}