<div class="add-note">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <h2>New Note</h2>
    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Note Title</mat-label>
          <input matInput name="title" [(ngModel)]="note['title']" required>
          <mat-error *ngIf="noteForm.controls['title'].invalid">Title is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Note Content</mat-label>
        <textarea matInput name="content" [(ngModel)]="note['content']" required></textarea>
        <mat-error *ngIf="noteForm.controls['content'].invalid">Content is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Reminder Date</mat-label>
          <input matInput name="reminderDate" [(ngModel)]="note['reminderDate']" [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="noteForm.controls['reminderDate'].invalid">Reminder Date is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Add Category</mat-label>
          <input matInput name="category" [(ngModel)]="note['category']" required>
          <mat-error *ngIf="noteForm.controls['category'].invalid">Category is required</mat-error>
        </mat-form-field>
      </div>
      <mat-label>Priority</mat-label>
      <div class="form-group">
        <mat-radio-group name="priority" [(ngModel)]="note['priority']" required>
          <mat-radio-button value="Low" checked>Low</mat-radio-button>
          <mat-radio-button value="Medium">Medium</mat-radio-button>
          <mat-radio-button value="High">High</mat-radio-button>
          <mat-radio-button value="Critical">Critical</mat-radio-button>
        </mat-radio-group>
      </div>
      
    </div>
      <button mat-raised-button type="submit">
        <mat-icon>save</mat-icon>
      </button>
  </form>
</div>